<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Forge</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/imgs/logo_negro.ico">
    <link rel="stylesheet" href="../static/styles/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">


</head>
<body class="home-body">

    <!-- Barra de navegación -->
    <nav class="navbar">
        {% if 'usuario' in session %}
            <a href="/logout">Cerrar sesión</a>
        {% else %}
            <a href="/registro">Registro</a>
        {% endif %}
    </nav>
    
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

    <div class="logo-title">
        <img src="../static/imgs/logo.png" alt="Logo Shield Bank" class="logo">
        <h2>dataforge</h2>
    </div>


    <div class="circle circle-large"></div>
    <div class="circle circle-purple"></div>
    <div class="circle circle-blue"></div>
    <div class="circle circle-pink"></div>


    <!-- Contenido principal -->
    <div class="content">
        <div class="text-section">
            <h1>Proveyendo inteligencia antifraude a las instituciones financieras.</h1>
        </div>        

        <div class="login-section">
            <div class="login-visual">
                {% if 'usuario' in session %}
                    <h2>Hola, {{ session['usuario'] }}!</h2>
                    <a href="/prediccion" class="predict-button">Predecir</a>
                {% else %}
                <form method="POST" action="/">
                    <input type="text" name="usuario" placeholder="Usuario" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <button type="submit" class="login-button">Iniciar sesión</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="../static/scripts.js"></script>
</body>
</html>