<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Fraude</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/imgs/logo_negro.ico">
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <a href="/logout">Cerrar sesión</a>        
    </nav>

    <a href="/">
        <div class="logo-title">
            <img src="../static/imgs/logo.png" alt="Logo Shield Bank" class="logo">
            <h2>dataforge</h2>
        </div>
    </a>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}    
    <div class="circle circle-large"></div>
    <div class="circle circle-purple"></div>
    <div class="circle circle-blue"></div>
    <div class="circle circle-pink"></div>
    
    <h1>Sube tu archivo CSV o Excel para predecir fraude</h1>

    <form method="post" enctype="multipart/form-data">
        <!-- Input de archivo oculto -->
        <input type="file" id="file" name="file" accept=".csv,.xlsx" required>

        <!-- Botón visible que activa el input oculto -->
        <label for="file" class="file-label">Seleccionar archivo</label>

        <!-- Mostrar el nombre del archivo seleccionado -->
        <p class="selected-file" id="file-name">Ningún archivo seleccionado</p>

        <button type="submit">Predecir</button>
    </form>

    <script src="../static/scripts.js"></script>

</body>
</html>
