<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body class="home-body">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <nav class="navbar">
        <a href="/">Inicio</a>
    </nav>

    <a href="/">
        <div class="logo-title">
            <img src="../static/imgs/logo.png" alt="Logo Shield Bank" class="logo">
            <h2>dataforge</h2>
        </div>
    </a> 

    <div class="content">
        <h1>Registro de nuevo usuario</h1>
        <form method="POST">
            <input type="text" name="nombre" placeholder="Nombre completo" required>
            <input type="email" name="correo" placeholder="Correo electrónico" required>
            <input type="text" name="usuario" placeholder="Nombre de usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="password" name="confirmar" placeholder="Confirmar contraseña" required>
            <button type="submit">Registrarse</button>
        </form>
    </div>
</body>
</html>
